<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="">
  	<title>Е-МАГ - импорт</title>
    <link rel="stylesheet" type="text/css" href="/static/css/import.css">
  </head>
  <body draggable='false'>
    <h2>~xmled~ import, from xml feed file</h2>
    <p>please place images with ids titles into imports/pics folder</p>
    <input id="file" type="text" name="" value="./imports/in.xml" placeholder="файл импорта">
    <input id="run" type="submit" name="" value="вперед">
    <div id="fields">
    </div>
    <div id="result">
    </div>
    <script src="/static/js/imports-all.js"></script>
  </body>
  </html>
